* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.input-search {
  border: 0;
  outline: 0;
  width: 350px;
  caret-color: red;
}

.category-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 15px;
  margin: 10px 0px;
  transition: .3s ease-in;
}

.category-btn span {
  transition: .3s ease-in;
}

.category-btn:hover {
  background: #FC1503;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.player {
  width: 100% !important;
  height: 77vh !important;
}

@media (max-width: 600px) {
  .input-search {
      width: 200px;
  }
  .player {
    height: 45vh;
  }
}

@media (max-width: 800px) {
  .Copyright {
    display: none;
  }
}
